body{
    font-family: 'Franklin Gothic medium','Arial Narrow',Arial, sans-serif;
    background-color: rgb(43, 20, 156);

}
h2{
    text-align: center;
    color: pink;
}
form{
    padding: 10px;
    background-color: yellow;
    height: auto;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 40px;
    border-radius: 20px;
}
label{
    display: block;
    margin: 5px;
    font-weight: 100;
    font-style: oblique;
    font-size: larger;
}
input[type=text],input[type=password], input[type=tel], input[type=email],textarea{
    width: 96%;
    padding: 5px;
    box-sizing: content-box;
    border: 2px solid white;
    border-radius: 5px;
}
select{
    width: 97%;
    padding: 8px;
    border: 2px solid white;
    border-radius: 5px;
}
input[type=submit]{
    background-color: rgb(15,189,145);
    color: rgb(22,1,1,0.925);
    cursor: pointer;
    margin-top: 15px;
    padding: 8px;
    border-radius: 8px;
    margin-left: 20px;
    width: 25%;
    text-size-adjust:100%;

}
